
input{
    padding: 1em 2.5em 1em 1.25em;
    max-width:18.7em;
    color: #525252;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.12em;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #FFFFFF 0%, #464747 #F9F9F9 100%);
    outline: none;
}


button{
    position: relative;
    left: -2.31em;
    color: #141a1f;
}